node_modules

*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.mp4
*.webm
*.tiff
*.TIFF
*.pyc
*.psd
*.dng
*.csv
*.sqlite3
.DS_Store
.sass-cache/*
*.scssc
node_modules/*
*.ai
*.svg
*.pdf
*.eps
*.zip
*.rb
*.db

env/*
nogit/*
drive

*.docx
*.xlsx
